# Python cache
__pycache__/
*.pyc
*.pyo

# Editor / OS junk
.vscode/
.idea/
.DS_Store

# Virtual environment
.env
.env.example
venv/
.venv
runs/
ucsd/
shangai/

*.pt
*.pth
*.onnx
*.data
*.engine
wandb/
mlruns/
.pytest_cache/
*.egg-info/